@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
  /* AQUI TAMBIEN SE CAMVIAN LOS COLORES DE FONDO */
  color: #fff;
  background: #1f1934;
}

main{
  background: #393a47;
  height: 100vh;
  height: 100dvh;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
